pyspark==3.4.1
delta-spark==2.4.0
pandas
python-dotenv
apscheduler
kafka-python==2.0.2
psycopg2-binary
git+https://github.com/Automated-Datavault-Schema-Evolution/MyLogger.git@v0.2.1#egg=mylogger
docker